### Global Data Analyst Test
### NAME: MUGUME MARTIN
### DATE: 8th May 2025

In [1]:
import os
os.chdir('E:/Personal/finca')

In [2]:
ls

 Volume in drive E has no label.
 Volume Serial Number is 0DD0-07C4

 Directory of E:\Personal\finca

05/14/2025  04:20 PM    <DIR>          .
05/13/2025  08:45 AM    <DIR>          ..
05/09/2025  07:51 PM            67,442 1719935063837.jpg
05/09/2025  09:35 AM         5,590,352 501DC900
05/09/2025  08:54 AM             6,610 branch_balances_report.xlsx
05/12/2025  08:18 AM           549,085 Conflict of Interest.pdf
05/07/2025  01:56 PM         4,561,529 FIF Data Analyst - Analytical Test.pdf
05/07/2025  01:56 PM         5,590,286 FIF_Data_Analyst_Practical_Test_R2.xlsx
05/12/2025  08:25 AM    <DIR>          Final
05/12/2025  08:18 AM           189,147 Final OUL Conflict of Interest Declaration Form.pdf
05/09/2025  09:51 AM         5,594,143 Global Data Analyst Practical Test with answers.xlsx
05/09/2025  09:48 AM            20,741 Global Data analyst Test Finca.ipynb
05/09/2025  09:02 AM             5,517 highest_ratio_branch_report.xlsx
05/09/2025  08:53 AM                61 max_ratio_branch(2).csv
05/09/2025  09:16 AM             5,968 may_2019_product_contribution_with_percentage.xlsx
05/09/2025  09:48 AM             7,711 product_summary_report.xlsx
05/09/2025  11:06 AM    <DIR>          qn2
              13 File(s)     22,188,592 bytes
               4 Dir(s)  214,024,650,752 bytes free

### Loading the workbook

In [3]:
import pandas as pd

file_path = "FIF_Data_Analyst_Practical_Test_R2.xlsx"

In [4]:
xls = pd.ExcelFile(file_path)
print(xls.sheet_names)

['Instructions', 'Data Library', 'Dataset 1', 'Dataset 2', 'Name', 'Question 1', 'Question 2', 'Question 3', 'Question 4', 'Question 5', 'Question 6']

In [5]:

dataset1 = pd.read_excel(file_path, sheet_name='Dataset 1')

dataset2 = pd.read_excel(file_path, sheet_name='Dataset 2')

In [6]:

dataset1['CURRENT_BAL'] = pd.to_numeric(dataset1['CURRENT_BAL'], errors='coerce')
dataset1['DEPOSIT_ACCOUNT'] = pd.to_numeric(dataset1['DEPOSIT_ACCOUNT'], errors='coerce')

branch_summary = dataset1.groupby('BU_NO').agg({
    'CURRENT_BAL': 'sum',
    'DEPOSIT_ACCOUNT': 'sum'
}).reset_index()

branch_summary['DEPOSIT_TO_BAL_RATIO'] = branch_summary['DEPOSIT_ACCOUNT'] / branch_summary['CURRENT_BAL']

max_ratio_branch = branch_summary.loc[branch_summary['DEPOSIT_TO_BAL_RATIO'].idxmax()]

### QN1 :A report that shows the current outstanding balance & deposit account balance PER BRANCH

In [7]:

pd.options.display.float_format = '{:,.2f}'.format


print(branch_summary)

print("\nBranch with highest deposit-to-balance ratio:")
print(max_ratio_branch)

    BU_NO      CURRENT_BAL  DEPOSIT_ACCOUNT  DEPOSIT_TO_BAL_RATIO
0     100     4,686,504.96             0.00                  0.00
1     101 4,185,302,068.53   334,946,829.61                  0.08
2     102 1,663,618,561.98   126,247,672.19                  0.08
3     103 1,903,583,877.76    82,510,342.73                  0.04
4     104 2,368,321,282.08   173,045,107.50                  0.07
5     201 3,216,059,532.75   148,140,210.94                  0.05
6     202 2,689,705,953.80   128,570,853.89                  0.05
7     203 1,371,648,040.80    85,070,995.16                  0.06
8     204   708,115,306.23    50,293,882.86                  0.07
9     205   217,487,053.17     4,793,736.41                  0.02
10    301 2,963,510,144.50   139,018,032.94                  0.05
11    302 3,888,607,986.24   209,105,060.87                  0.05
12    303 2,073,209,891.94   138,916,052.94                  0.07
13    304 1,519,605,208.87    61,194,122.68                  0.04
14    401 3,272,448,290.80   102,747,421.82                  0.03
15    402 3,913,857,767.40   226,706,946.77                  0.06
16    403 3,249,174,102.22   180,040,850.56                  0.06
17    404 1,607,098,788.39    58,411,301.38                  0.04
18    405 1,932,296,358.22    41,669,756.81                  0.02
19    501 1,568,703,490.70    35,719,078.30                  0.02
20    502 1,371,183,811.45    52,395,993.94                  0.04
21    503 2,303,606,906.39    97,548,571.10                  0.04
22    601             2.49             0.00                  0.00
23    602 3,754,134,973.88   631,373,034.22                  0.17
24    603             0.17             0.00                  0.00
25    604 2,262,167,360.69   100,871,546.74                  0.04
26    605 3,298,269,884.42   147,700,053.63                  0.04

Branch with highest deposit-to-balance ratio:
BU_NO                            602.00
CURRENT_BAL            3,754,134,973.88
DEPOSIT_ACCOUNT          631,373,034.22
DEPOSIT_TO_BAL_RATIO               0.17
Name: 23, dtype: float64

In [15]:
branch_summary.to_excel("branch_balances_report.xlsx", index=False)

### QN1(2): Branch with the highest ratio of deposits compared to outstanding portfolio

In [ ]:

max_ratio_branch = branch_summary.loc[branch_summary['DEPOSIT_TO_BAL_RATIO'].idxmax()]

print("Branch with highest deposit-to-balance ratio:")
print(max_ratio_branch)

Branch with highest deposit-to-balance ratio:
BU_NO                            602.00
CURRENT_BAL            3,754,134,973.88
DEPOSIT_ACCOUNT          631,373,034.22
DEPOSIT_TO_BAL_RATIO               0.17
Name: 23, dtype: float64

In [ ]:

highest_ratio_report = pd.DataFrame([max_ratio_branch])


highest_ratio_report.to_excel("highest_ratio_branch_report.xlsx", index=False)

Report saved as 'highest_ratio_branch_report.xlsx'

### QN2: Disbursements for the month of May 2019  of products which made the biggest contribution to overall sales.

In [8]:



dataset1['DISBURSEMENT_DT'] = pd.to_datetime(dataset1['DISBURSEMENT_DT'], format='%m/%d/%Y')

may_2019_data = dataset1[(dataset1['DISBURSEMENT_DT'].dt.month == 5) & (dataset1['DISBURSEMENT_DT'].dt.year == 2019)]


product_contribution = may_2019_data.groupby('PROD_DESC')['DISBURSEMENT_AMT'].sum().reset_index()


total_disbursement = may_2019_data['DISBURSEMENT_AMT'].sum()


product_contribution['Percentage_Contribution'] = (product_contribution['DISBURSEMENT_AMT'] / total_disbursement) * 100


product_contribution = product_contribution.sort_values('DISBURSEMENT_AMT', ascending=False)


print(f"Total Disbursement for May 2019: {total_disbursement:,.2f}")
print("\nProducts and their contributions to total disbursements in May 2019:")
print(product_contribution)


product_contribution.to_excel("may_2019_product_contribution_with_percentage.xlsx", index=False)

Total Disbursement for May 2019: 5,410,010,524.00

Products and their contributions to total disbursements in May 2019:
                       PROD_DESC  DISBURSEMENT_AMT  Percentage_Contribution
4                    Pamoja Loan  1,467,040,000.00                    27.12
0          Business Loan - Large  1,156,000,000.00                    21.37
5               Pamoja Plus Loan  1,058,400,000.00                    19.56
2          Business Loan - Small    648,900,550.00                    11.99
1         Business Loan - Medium    538,450,000.00                     9.95
10     Shule Loan - School Owner    150,000,000.00                     2.77
11         Small Enterprise Loan    150,000,000.00                     2.77
7                   SFG Loan 2-5    108,700,000.00                     2.01
3             Microbusiness Loan     71,425,000.00                     1.32
12             Staff Salary Loan     32,442,974.00                     0.60
6                     SFG Loan 2     18,650,000.00                     0.34
9   School Fees Loan - Education      7,302,000.00                     0.13
8                     SFG Loan 3      2,700,000.00                     0.05

### QN 4: clients with more than one loan

In [ ]:

merged_df = pd.merge(dataset1, dataset2, on='ACCT_NO')

client_loan_counts = merged_df.groupby('CUST_NO')['ACCT_NO'].count()

clients_with_multiple_loans = client_loan_counts[client_loan_counts > 1]


num_clients_with_multiple_loans = len(clients_with_multiple_loans)
print(f"Number of clients with more than one loan: {num_clients_with_multiple_loans}")

Number of clients with more than one loan: 187

### QUESTION 5: How many Groups are there for Pamoja Plus Loans and how many Group Members are there?

In [ ]:

pamoja_plus = dataset1[dataset1['PROD_DESC'] == 'Pamoja Plus Loan'].copy()


num_groups = pamoja_plus['GROUP_NAME'].nunique()


pamoja_plus['CNT_MALE'] = pd.to_numeric(pamoja_plus['CNT_MALE'], errors='coerce').fillna(0)
pamoja_plus['CNT_FEMALE'] = pd.to_numeric(pamoja_plus['CNT_FEMALE'], errors='coerce').fillna(0)


total_members = (pamoja_plus['CNT_MALE'] + pamoja_plus['CNT_FEMALE']).sum()

print(f"Number of groups for Pamoja Plus Loans: {num_groups}")
print(f"Total number of group members: {int(total_members)}")

Number of groups for Pamoja Plus Loans: 2560
Total number of group members: 13467

### QUESTION 6:Managements need to have a summary of all products. You need to provide summary information that will allow them to answer the following questions:

In [ ]:

dataset1['DISBURSEMENT_AMT'] = pd.to_numeric(dataset1['DISBURSEMENT_AMT'], errors='coerce')
dataset1['CURRENT_BAL'] = pd.to_numeric(dataset1['CURRENT_BAL'], errors='coerce')
dataset1['Term_Month'] = pd.to_numeric(dataset1['Term_Month'], errors='coerce')


summary = dataset1.groupby('PROD_DESC').agg(
    Frequency=('ACCT_NO', 'count'),
    Total_Outstanding_Balance=('CURRENT_BAL', 'sum'),
    Avg_Term=('Term_Month', 'mean'),
    Min_Term=('Term_Month', 'min'),
    Max_Term=('Term_Month', 'max'),
    Avg_Disbursement=('DISBURSEMENT_AMT', 'mean'),
    Min_Disbursement=('DISBURSEMENT_AMT', 'min'),
    Max_Disbursement=('DISBURSEMENT_AMT', 'max'),
    Avg_Balance=('CURRENT_BAL', 'mean'),
    Min_Balance=('CURRENT_BAL', 'min'),
    Max_Balance=('CURRENT_BAL', 'max')
).reset_index()

In [24]:
print(summary)

                       PROD_DESC  Frequency  Total_Outstanding_Balance  \
0                  Business Loan         21               3,508,177.48
1          Business Loan - Large       1522          19,760,617,081.11
2         Business Loan - Medium       1275           5,891,880,704.33
3          Business Loan - Small       5582           6,919,959,668.20
4           Insurance Claim Loan        201             621,340,307.63
5             Microbusiness Loan        534             297,975,217.20
6                    Pamoja Loan      25064           9,607,271,015.29
7               Pamoja Plus Loan      13469           5,294,134,477.66
8                       SFG Loan         11              75,412,445.15
9                     SFG Loan 2          7             179,450,000.00
10                  SFG Loan 2-5         36             990,624,628.16
11                    SFG Loan 3         15             146,577,481.75
12             SFG Loan 3 VIGUTA         20             129,209,391.18
13  School Fees Loan - Education        335             275,177,400.53
14     Shule Loan - School Owner         31           1,055,065,101.31
15         Small Enterprise Loan         85           4,797,344,304.97
16              Small Group Loan        105               1,284,109.70
17            Small Group Loan 2          8                  36,807.94
18             Staff Salary Loan        181           1,237,888,768.26
19               Village Banking        427              17,987,815.92
20             Village Banking 2        117               3,658,247.06

    Avg_Term  Min_Term  Max_Term  Avg_Disbursement  Min_Disbursement  \
0       8.86      6.00     12.00      2,109,523.81        500,000.00
1      13.10      4.00     50.00     21,560,086.86     10,100,000.00
2      11.75      3.00     18.00      7,862,388.24      5,100,000.00
3       9.95      3.00     18.00      2,165,442.41        500,000.00
4       8.55      6.00     24.00      5,970,895.52        100,000.00
5       6.13      6.00     10.00        821,732.21        200,000.00
6       6.21      6.00     12.00        668,934.33        150,000.00
7       6.21      6.00     12.00        690,374.19        200,000.00
8      16.09      9.00     24.00     17,072,545.45      4,800,000.00
9      11.14      6.00     12.00     25,635,714.29      3,600,000.00
10     20.00     12.00     24.00     33,455,555.56     10,400,000.00
11     11.47      6.00     15.00     15,043,333.33      2,700,000.00
12     12.60     12.00     24.00     11,570,000.00      1,600,000.00
13      9.86      3.00     12.00      1,672,945.97        500,000.00
14     24.06      9.00     36.00     81,483,870.97     10,000,000.00
15     27.19     12.00     50.00    107,861,313.43     45,000,000.00
16      7.55      6.00     12.00        693,809.52        350,000.00
17      6.00      6.00      6.00        618,750.00        350,000.00
18     40.14     12.00     48.00      9,925,177.75      1,000,000.00
19      5.81      5.00     10.00        760,398.13              0.00
20      6.07      6.00      8.00        416,752.14         50,000.00

    Max_Disbursement   Avg_Balance   Min_Balance    Max_Balance
0      10,000,000.00    167,056.07         -0.14     472,000.00
1      49,000,000.00 12,983,322.66     49,528.00  46,499,746.26
2      10,000,000.00  4,621,082.91      3,369.23  10,000,000.00
3       5,000,000.00  1,239,691.81       -248.66   5,000,000.00
4     150,000,000.00  3,091,245.31     14,460.90  49,295,265.97
5       3,600,000.00    558,006.02      1,448.81   3,450,000.00
6       5,000,000.00    383,309.57          3.85   5,000,000.00
7       5,000,000.00    393,060.69          6.15   4,511,127.59
8      46,300,000.00  6,855,676.83    470,822.47  26,266,552.13
9     135,000,000.00 25,635,714.29  3,600,000.00 135,000,000.00
10     50,000,000.00 27,517,350.78  4,322,912.86  48,600,000.00
11     44,500,000.00  9,771,832.12  1,405,401.53  44,500,000.00
12     31,200,000.00  6,460,469.56    457,219.14  23,181,764.89
13     10,000,000.00    821,425.08         16.64   6,266,869.01
14    300,000,000.00 34,034,358.11          0.01 150,000,000.00
15    300,000,000.00 56,439,344.76  2,050,892.80 188,437,668.81
16      2,000,000.00     12,229.62         -6.28     500,000.00
17      1,000,000.00      4,600.99          0.09      10,100.00
18     77,000,000.00  6,839,164.47    -60,736.18  67,097,862.28
19     15,900,000.00     42,126.03 -3,150,000.00   1,987,500.00
20      1,200,000.00     31,267.07        -70.19     900,000.00

In [25]:
summary.to_excel("product_summary_report.xlsx", index=False)